<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de configuration des camions</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'bddint_app/camions_update.css' %}">
</head>
<body>
    <div class="container">
        <h1>Gérer les camions</h1>

        <!-- Si l'utilisateur est connecté, afficher son ID -->
        <p>Vous êtes connecté en tant que : <span class="warning">{{ login }}</span> (Root)</p>
        <p>Si ce compte ne vous appartient pas, veuillez vous déconnecter.</p>

        <h2>Veuillez remplir ce formulaire</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enregistrer</button>
        </form>

        <div class="links">
            <a href="{% url 'camions' %}" class="btn">Revenir en arrière</a>
            <a href="{% url 'home' %}" class="btn">Page d'accueil</a>
            <a href="{% url 'logout' %}" class="btn logout">Se déconnecter</a>
        </div>
    </div>
</body>
</html>