<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de configuration des chauffeurs</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'bddint_app/chauffeurs.css' %}">
</head>
<body>
    <div class="container">
        <h1>Gérer les chauffeurs</h1>

        <!-- Affichage de l'identité de l'utilisateur connecté -->
        <p>Vous êtes connecté en tant que : <span class="warning">{{ login }}</span> (Root)</p>
        <p>Si ce compte ne vous appartient pas, veuillez vous déconnecter.</p>

        <h3>Chauffeurs disponibles</h3>

        {% if result %}
        <table>
            <tr>
                <th>Numéro de permis de conduire</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            {% for row in result %}
            <tr>
                <td>{{ row.numéro_de_permis_de_conduire }}</td>
                <td>{{ row.nom }}</td>
                <td>{{ row.prenom }}</td>
                <td><a href="{% url 'chauffeurs_update' row.numéro_de_permis_de_conduire %}" class="btn-edit">Modifier</a></td>
                <td><a href="{% url 'chauffeurs_delete' row.numéro_de_permis_de_conduire %}" class="btn btn-delete">Supprimer</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Aucun résultat trouvé.</p>
        {% endif %}

        <div class="links">
            <a href="{% url 'home' %}" class="btn">Page d'accueil</a>
            <a href="{% url 'logout' %}" class="btn logout">Se déconnecter</a>
        </div>
    </div>
</body>
</html>