<!-- home_chauffeur.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'Accueil</title>
</head>
<body>
    <h1>Bienvenue sur la page d'accueil </h1>

    <!-- Si l'utilisateur est connecté, afficher son ID -->
    <p>Votre etes connecté en tant que : {{ login }}(Root)</p>
    <p>Si ce compte ne vous appartiens par veuillez vous déconnecter.</p>

    <!-- Lien pour accéder à la page de requettes -->
    <a href="{% url 'requettes' %}">Page de requettes</a>
    <a href="{% url 'camions' %}">Page de configuration des camions</a>
    <a href="{% url 'chauffeurs' %}">Page de configuration des chauffeurs</a>
    <!-- Lien pour se déconnecter -->
    <a href="{% url 'logout' %}">Se déconnecter</a>
</body>
</html>