<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mes affectations</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bddint_app/camions.css' %}">
</head>
<body>
    <div class="container">
        <h1>Mes affectations</h1>

        <p>Vous êtes connecté en tant que : <strong>{{ login }}</strong> (Chauffeur)</p>
        <p class="warning">Si ce compte ne vous appartient pas, veuillez vous déconnecter.</p>

        <h3>Mes affectations</h3>

        {% if result %}
        <table>
            <tr>
                <th>Numéro d'immatriculation</th>
                <th>numéro_de_permis_de_conduire</th>
                <th>date_affectation</th>
            </tr>
            {% for row in result %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2	 }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Aucun résultat trouvé.</p>
        {% endif %}

        <div class="links">
            <a href="{% url 'home' %}">🏠 Page d'accueil</a>
            <a href="{% url 'logout' %}" class="logout">❌ Se déconnecter</a>
        </div>
    </div>
</body>
</html>
